.App {
  text-align: center;
}

/* Path: src/App.css */
.container {
  margin-top: 3rem;
  width: 100%;
  margin: auto;
  margin-top: 1.5rem;
  background-color: aquamarine;
  padding: 10px;
  border: 0.5rem solid;
}
.story_box {
  display: flex;
  list-style: none;
  width: 60%;
  margin: auto;
  margin-top: 1.5rem;
}
.img-size {
  width: 120px;
  height: 120px;
}

.ruled {
  width: 100%;
  margin: auto;
  margin-top: 1rem;
}
.btn-more {
  width: 7rem;

  background-color: rgb(239, 162, 29);
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 7%;
}
